.aboutInfo {
	position: relative;
	transform: translateY(-35%);
	display: flex;
	flex-flow: column;
	align-items: center;
	text-align: center;
	top: 20px;
}

h2 {
	margin: 2vh 0 !important;
}

h1 {
	margin-bottom: 3vh !important;
}

.socials {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0 16px;
}
/* 
.socials button:not(:first-child) {
	margin-left: 16px;
} */
