.background {
	height: 45vh;
	background-color: #bee3db;
	position: relative;
}

.background::after {
	content: "";
	width: 100%;
	height: 71px;
	position: absolute;
	bottom: -0.3%;
	left: 0;
	background-size: auto;
	background-repeat: repeat no-repeat;
	background-position: 47vw bottom;
	background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200  81' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 60L50 56C100 52 200 45 300 30C400 16 500 -6 600 1C700 8 800 45 900 60C1000 74 1100 67 1150 63L1200 60V81H1150C1100 81 1000 81 900 81C800 81 700 81 600 81C500 81 400 81 300 81C200 81 100 81 50 81H0V60Z' fill='%23faf9f9'/></svg>");
}

.options {
	display: flex;
	position: absolute;
	right: 32px;
	top: 32px;
}

.aboutInfo {
	position: absolute;
	top: 70%;
	left: 50%;
    z-index: 1;
	transform: translateX(-50%);
    display: inline-block;
    text-align: center;

    h2 {
        margin: 8px 0;
    }

    h1 {
        margin-bottom: 24px;
    }
}

.socials {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
