.top-spacing {
	padding-top: 5vh;
}

.options {
	display: flex;
	justify-content: end;
}

.options > :not(:first-child) {
	margin-left: 16px;
}

@-webkit-keyframes bg-pan-right {
	0% {
		background-position: 0% 25%;
	}
	100% {
		background-position: 100% 50%;
	}
}
@keyframes bg-pan-right {
	0% {
		background-position: 0% 25%;
	}
	100% {
		background-position: 100% 50%;
	}
}
